/*This is the CSS for the whole Profile website I am building for myself*/

/*This is the box sizing code*/
html {
  box-sizing: border-box;
  background: rgb(252, 255, 85);
}
*, *:before, *:after {
  box-sizing: inherit;
}


header{
  
  float:left;
  height: 60px;
  background: rgb(251, 253, 253);

}

.Name{

  float: left;
  text-align: center;
  padding-top: 20px;
  padding-right: 4px;
  padding-left: 4px;

  margin-left: 100px;
  height: 60px;
  background: rgb(2, 219, 183);

  font-family: "Arial", serif;
  text-decoration: underline; 
}

/*.clearfix::after {
  content:""; 
  display: block;
  clear: both;
}*/

/*This is for the side bar buttons in the header*/
.Tab_About{
  
  clear:left;
  float: right;
  text-align: center;
  padding-top: 20px;
  padding-right: 4px;
  padding-left: 4px;
  margin-right:5px;

  height: 60px;
  background: rgb(119, 119, 119);

  font-family: "Arial", serif;
  text-decoration: underline; 
}

.Tab_Portfolio{
  
  clear:left;
  float: right;
  
  text-align: center;
  padding-top: 20px;
  padding-right: 4px;
  padding-left: 4px;
  margin-right:5px;

  height: 60px;
  background: rgb(119, 119, 119);

  font-family: "Arial", serif;
  text-decoration: underline; 
}

.Tab_Contact{
  
  clear:left;
  float: right;
  text-align: center;
  padding-top: 20px;
  padding-right: 4px;
  padding-left: 4px;
  margin-right:5px;
  margin-left:0px;

  height: 60px;
  background: rgb(119, 119, 119);

  font-family: "Arial", serif;
  text-decoration: underline; 
}

.About_Me {
  text-align: center;
  float:left;
  width: 20%;
  padding: 0px;
  height: 50px;
  margin: 10px;
  background-color:  rgb(2, 219, 183);

  }
  .Bio {
    float:left;
    width: 100%;
    margin: 50px;
    padding: 10px;
    height: 50%;
    background-color: rgb(248, 248, 248);
    }

